body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  padding: 30px;
}

.products {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: gray;
}
